html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    position: relative;
    background-color: #f1f1f1;
}

header{
    margin: 0 auto;
    position: relative;
    padding: 10px 0;
    text-align: center;
    background-color: #c7c7c7;
    color: #6a6a6a;
}

main {
    position: relative;
    height: 100%;
    padding: 15px;
    margin: 0 auto;
    background-color: #E6E6E6;
    color: #6a6a6a;
}

.cities-weather-header {
    margin-bottom: 10px;
}

.map {
    height: 300px;
    width: 100%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner-wrapper{
    position: relative;
    height: 40px;
    margin-bottom: 10px;
}

.spinner {
    border: 6px solid #E6E6E6; /* Light grey */
    border-top: 6px solid #6a6a6a; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.closed {
    display: none;
}

@media (min-width: 768px) {
    main, header {
        width: 750px;
    }

    .map {
        height: 500px;
    }
}
