<h4 class="cities-weather-header">Cities Weather</h4>
<!--<h3>{{geoPosition}}</h3>-->




<div class="table-responsive">
    <table id="weather-table" class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>City</th>
            <th>
                Temperature,
                <select  [(ngModel)]="selectedTempUnit" class="temperature-select">
                    <option *ngFor="let unit of temperatureUnits" [ngValue]="unit">{{unit}}</option>
                </select>
            </th>
            <th>Pressure, GPa</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of cities; let i = index">
                <td>{{i + 1}}</td>
                <td>{{city.name}}</td>
                <td>{{city.weather| convertTemperature: selectedTempUnit| floorTemperature| temperatureString}}</td>
                <td>{{city.weather.pressure}}</td>
            </tr>
        </tbody>
    </table>
</div>