.layout {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    margin: 0 auto;
    background-color: #E6E6E6;
    color: #6a6a6a;
}

.top-layout {
    position: relative;
}

.spinner-wrapper{
    position: absolute;
    right: 40px;
    bottom: 0;
    height: 40px;
    margin-bottom: 10px;
}

main {
    padding: 15px;
    margin-bottom: 45px;
}

@media (min-width: 768px) {
    .layout {
        width: 750px;
    }
}

.closed {
    display: none;
}