.layout {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    margin: 0 auto;
    background-color: #E6E6E6;
    color: #6a6a6a;
}

.top-layout {
    position: relative;
}

.spinner-wrapper{
    position: absolute;
    right: 40px;
    bottom: 0;
    height: 40px;
    margin-bottom: 10px;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 15px;
    font-size: 18px;
    color: #6a6a6a;
    border-right: 1px solid #6a6a6a;
}

nav a:last-child {
    border-right: none;
}

nav a.active {
    text-decoration: underline;
    color: #4c4c4c;
}

.your-city-link {
    position: absolute;
    right: 0;
    margin-right: 5px;
    cursor: pointer;
}

main {
    padding: 15px;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .layout {
        width: 750px;
    }
}

.closed {
    display: none;
}