<div class="layout">
    <main-header></main-header>
    <nav>
        <a routerLink="/region" routerLinkActive="active">Region</a>
        <a routerLink="/city" routerLinkActive="active">City</a>
        <a routerLink="/map" routerLinkActive="active">Map</a>

        <a class="your-city-link" (click)="toggleYourCityWidget()" [ngClass]="{'active': isYourCityOpened}">Your city</a>
    </nav>
    <main>
        <router-outlet name="widget"></router-outlet>
        <router-outlet></router-outlet>
    </main>
    <main-footer></main-footer>
</div>