<h4 class="cities-weather-header">Weather in your region</h4>
<div class="table-responsive">
    <table id="weather-table" class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>City</th>
            <th>Weather</th>
            <th>
                Temperature,
                <temp-unit-selector (selectUnit)="selectUnit($event)"></temp-unit-selector>
            </th>
            <th>Pressure, GPa</th>
            <th>Wind</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let city of cities; let i = index" [tempColor]="city.main" >
            <td>{{i + 1}}</td>
            <td>{{city.name}}</td>
            <td><weather-conditions [conditions]="city.weather[0]"></weather-conditions></td>
            <td>{{city.main| convertTemperature: selectedTempUnit| floorTemperature| temperatureString}}</td>
            <td>{{city.main.pressure}}</td>
            <td><wind-arrow [wind]="city.wind"></wind-arrow></td>
        </tr>
        </tbody>
    </table>
</div>